
{{ $dictionary := newScratch }}
{{/* {{ $dictionary := dict }} */}}

{{ $dictionary.Set "context" . }}
{{ $dictionary.Set "Inner" .Inner }}



{{/* Getting parameters from the parent shortcode colums */}}
{{- with .Parent -}}

   {{ with .Get "_class"}} 
      {{ $dictionary.Set "class" . }}
   {{ end }}

   {{ with .Get "colsizes"}} 
      {{ $dictionary.Set "colsizes" . }}
   {{ end }}
   
   
   {{ with .Get "settings"}} 
      {{ $dictionary.Set "settings" . }}
   {{ end }}

{{ else }}
    {{ errorf "The error is inside the page %s\nThis shortcode {{ column }} must be inside {{< columns >}} shortcode and can not live outside of {{< columns >}}\n" $.Page.Path }}
{{ end }}
XXXXX ----> {{ .Parent }}

{{ partial "test-column2" (dict "context" . "Parent" .Parent ) }}