

      <!-- Content -->
      <div class="container">
        <p class="title">{{ .Title }}</p>
        <p class="subtitle">{{ .Date.Format "Jan 2, 2006" }}</p>

        {{/* {{ partial "toc.html" . }} */}}
        
        <div class="content">
          {{ .Content }}
        </div>


        {{/* {{ partial "gitinfo.html" . }}
        {{ partial "taglist.html" . }} */}}
      </div>


<h2>min store fete bundletest</h2>
{{/* {{ range $reusablePages }} */}}
{{ $widget := .widget }}
{{/* 
{{ $v1 := where .Site.Pages "Params.a" "v1" }}
{{ $v2 := where .Site.Pages "Params.b" "v2" }}
{{ $filtered := $v1 | intersect $v2 }}
{{ range $filtered }} 
*/}}


{{ $reusablePages := partial "get-sub-pages" ((printf "/%s" .page.File.Dir) | strings.TrimRight "/") }} 
{{/* {{ $reusablePages := partial "get-sub-pages"  "/test/bundletest" }} */}}

    <h3>YYYYYYYYYYb {{ (printf "/%s" .page.File.Dir) | strings.TrimRight "/" }}</h3>
{{ $filter := where $reusablePages ".Params.active" "!=" false }}
{{ range $filter }}
    {{/* <h3>{{ .Title }}</h3> */}}
    {{/* {{ .Content }} */}}



{{ $widget := or $widget .Params.widget "blank" }}

  {{ $widget_path := printf "widgets/%s.html" $widget }}
    {{/* {{ partial $widget_path $params }} */}}
    {{ partial $widget_path . }}






{{ end }}

<h2>Slutt paa stor fet bundletest</h2>





